body {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#app {
    width: 50%;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.button, button {
    display: inline-block;
    background-color: white;
    border-radius: 30px;
    border-style: none;
    margin-top: 15px;
    padding: 10px 20px;
    color: #00092E;
    font-size: 1rem;
}

.button:hover, button:hover {
    cursor: pointer;
    font-weight: bold;
}

.welcome {
    margin: 40px 0px;
    color: white;
    font-size: 1.5em;
}

@media (max-width: 768px) {
    #app {
        width: 90%;
    }
}