.flash {
    background-color: green;
    color: white;
    padding: 5px;
    text-align: center;
}

#notes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.note {
    background: linear-gradient(to bottom, white 60%, #00092E 40%);
    color: #00092E;
    border-radius: 20px;
    width: 200px;
    padding: 20px 60px;
    margin-top: 20px;
    font-size: 1.4rem;
}

.note:hover {
    font-weight: bold;
    cursor: pointer;
}

.note-date {
    color: white;
    font-size: 0.7em;
    margin-top: 50px;
}